#jumbotron {
	background-color: #66b3ff;
	color: white;
}
#submit{
	margin-top: 10px;

}
th{
	font-size: 150%;
}
label{
	font-size: 150%;
}
#testButton{
	font-size: 150%;
}
#name-input{
	font-size: 150%;
}
#destination-input{
	font-size: 150%;
}
#time-input{
	font-size: 150%;
}
#frequency-input{
	font-size: 150%;
}
#panel-1{
	font-size: 220%;
}
#panel-2{
	font-size: 220%;
}